body{
	background: #1e2022;
	text-color: black;
}
header{
	font-family: "Cinzel", serif;
	color: #f0f5f9;
	background: #1e2022;
}

.container1{
	Display: grid;
	Grid-template-columns: 1fr 1fr 1fr 1fr;
	Text-align: center;
}
main{
	background: #f0f5f9;
}
.container2{
	Display: grid;
	Grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;
	height: 60vh;
}
.sitem{
	background: #1e2022;
	margin: 0px;
}
#d{
	text-align: center;
}
h1{
	background: #1e2022;
	text-align: center;
}
#p1{
	padding: 10px;
}
img{ 
	width: 100%;
	height: auto; 
}
#i1{
	grid-column-start: 1;
}
#i2{
        grid-column-start: 2; 
}
#i3{
        grid-column-start: 3; 
}
#i4{
        grid-column-start: 4; 
}
.container3{
	display:grid;
	grid-template-columns: 8fr 10fr 7fr;
	grid-template-rows: 3fr 10fr 7fr;
	padding: 0px;
	background: #1e2022;
}
#d1{
	grid-row-start: 1;
	grid-column: 1/5;
	background: #f0f5f9;
	text-align: center;
}
#d2{
	grid-column-start: 1;
	grid-row-start: 2;	
}
#d3{
        grid-column-start: 2;
        grid-row-start: 2;
}
#d4{
        grid-column-start: 2;
        grid-row-start: 3;
}
#d5{
        grid-column-start: 3;
        grid-row-start: 2;
}
#d6{
        grid-column-start: 1;
        grid-row-start: 3;
}
#d7{
        grid-column-start: 3;
        grid-row-start: 3;
}
div{
	margin-top: 0px;
	margin-bottom: 0px;
}

p{
	color: black;
	font-family: serif;
}
	
