body{
	color: black;
	background: #1e2022;
}
.image{
	background-image: url(flx/all.png);
        background-size: contain;
        background-attachment: fixed;
        background-position: center top;
	background-repeat: no-repeat;
        height: 100vh;
	width: 100%;
}
.content{
	padding:5px
}

}
main{
	background: #f0f5f9;
}
.container2{
	Display: grid;
	Grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;
	height: 60vh;
}
.sitem{
	background: #1e2022;
	margin: 0px;
}
#d{
	text-align: center;
	background-color: #f0f5f9;
}
h1{
	background: #1e2022;
	text-align: center;
	font-family: "Cinzel", serif;
	color: #f0f5f9;
}
.buttons {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	height: 150px;
}
.clickable {
        background-color: grey;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
	margin: 5px;
	font-family: "Cinzel", serif;
	font-size: 2em;
}
.clickable:hover {
	background-color: red;
	margin: 5px;
}

.clickable a {
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#c1 {
	grid-column-start: 1;
}
#c2 {
        grid-column-start: 2;
}
#c3 {
        grid-column-start: 3;
}



#p1{
	padding: 10px;
}
img{ 
	width: 100%;
	height: auto; 
}
#i1{
	grid-column-start: 1;
}
#i2{
        grid-column-start: 2; 
}
#i3{
        grid-column-start: 3; 
}
#i4{
        grid-column-start: 4; 
}
.container3{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);
	background: #1e2022;
}
#d1{
	grid-row-start: 1;
	grid-column: 1/5;
	background: #f0f5f9;
	text-align: center;
}
#d2{
	grid-column-start: 1;
	grid-row-start: 2;	
}
#d3{
        grid-column-start: 2;
        grid-row-start: 2;
}
#d4{
        grid-column-start: 2;
        grid-row-start: 3;
}
#d5{
        grid-column-start: 3;
        grid-row-start: 2;
}
#d6{
        grid-column-start: 1;
        grid-row-start: 3;
}
#d7{
        grid-column-start: 3;
        grid-row-start: 3;
}
div{
	margin-top: 0px;
	margin-bottom: 0px;
}

p{
	color: black;
	font-family: serif;
}
	
