/* css */

Body{
font-size:16pt;
font-family:'Cinzel', serif;
font-weight:500;
font-optical-sizing:auto;
font-style:normal;
}
.container {
display: flex; 
padding: 10px; 
} 
.item {
padding: 20px;
border: 5px outset #be3144;
width: 49%;  
margin-right: 10px; 
background-color: #be3144;
display: flex; 
justify-content: center; 
align-items: center;
}

#d3{
border: 5px outset #be3144;
display: flex;
justify-content: center;
padding: 10px;
height: 150px;
margin-top:20px;
}
#d5{
border: 5px outset #be3144;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
}
#d4{
padding: 10px;
width: 90vw;
}
h1{
text-align: center;
}
img{
border:5px inset rgb(190, 49, 68);
}
.first-color { 
	background: #d3d6db; 
}
	
.second-color { 
	background: #be3144; 
}

.third-color { 
	background: #be3144; 
}

.fourth-color { 
	background: #be3144; 
}

